.grid-container {
    /* display: grid; */
    /* grid-template-columns: auto auto auto; */
    /* grid-template-columns: fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%); */
    /* grid-template-rows: repeat(3, fit-content(100%)); */
    /* grid-template-columns: repeat(4, fit-content(100%)); */
    /* grid-auto-flow: dense; */
    padding: 0px;
    display: grid;
    grid-auto-flow: column;
    /* grid-template-columns: repeat(7, fit-content(100%)); */
    grid-template-columns: repeat(7, 200px);

    /* grid-template-rows: repeat(3, fit-content(100%)); */
    grid-template-rows: repeat(3, 200px);

    max-width: 100%;
}


.grid-item.unselected {
    /* background-color: rgba(64, 185, 246, 0.8); */
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    /* padding: 5px; */
    font-size: 15px;
    background-color: whitesmoke;
    border-color: whitesmoke;
    padding: 0;
    border: none;
}

.grid-item.selected {
    /* background-color: rgba(237, 71, 71, 0.8); */
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    /* padding: 5px; */
    font-size: 15px;
    background-color: whitesmoke;
    border-color: whitesmoke;
    padding: 0;
    border: none;
}

/* .square {
    height: 50px;
    width: 50px;
    background-color: #555;
} */