body {
    background-color: coral;
}

h1 {
    font: bold italic 40px sans-serif;
    font-family: "Segoe UI", sans-serif;
}

.infobox {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    background-color: whitesmoke;
    border: 5px solid slategray;
    border-radius: 10px;
    width: 120px;
    height: 100px;
    /* text-align: center; */
    font: 16px sans-serif;
    font-family: "Segoe UI", sans-serif;
    /* vertical-align: middle; */
    display: inline-block;
}

/* .mybutton {

} */